*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navBar{
    padding:8px;
    display: flex;
    color: cyan;
    position: fixed;
    overflow: hidden;
    justify-content:space-between;
    background-color: black;
    /* max-width: 5%; */
    max-height: 5%;
    width: 100%;
}

.forLogo{
    flex:1;
}

.forMenu{
    flex:1;
    /* padding-right: 8px; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#twitterImg{
    width: 30px;
    height: 20px;
}

#userImg{
    width: 30px;
    height: 20px;
}

#searchFriend{
    color: aliceblue;
}

body{
    background-image:url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.parentDiv{
    padding-left:5%;
    padding-right:5%;  
    padding-top: 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    /* grid-template-areas: "Main-Content SideBar"; */
}

.tweetBox{
    background-color:khaki;
    height:40px;
    margin-bottom: 18px;
    /* height:90px; */
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-around;

}

#tweetBtn {
    background-color: #6FAAF7;
    border-style: ridge;
    border-color: darkcyan;
    border-width: thin;
    border-radius: 8px;
    margin-left: 8px;
    color: #fff;
    height: 30px;
    flex: 1;
    
}

#tweetBtn:hover {
    background-color: #fff;
    color: #6FAAF7;
}

.forMenu button{
    border: none;
    outline: none;
    background: none;
}

#tweetText{
   flex: 8;
}

textarea{
    /* width: 90%; */
    resize: none;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 0.125rem red;
}

#tweetText:focus {
    outline: none;
    box-shadow: 0;
}

.mainColumn {
    background-color: azure;
    /* padding: 8px; */
    /* grid-area: "Main-Content"; */
}

.sideBar{
    background-color: burlywood;
    /* grid-area: "SideBar"; */
}

.allTweets{
    min-height: 100px;
    background-color: khaki;
    border-radius: 12px;
    padding: 10px;
}